<?xml version="1.0"?>
<robot name="supercube">
  <link name="base_link">
    <inertial>
    <origin rpy="0 0 0" xyz="0 0 0"/> <!-- Adjust if necessary -->
    <mass value="0.1"/> <!-- Adjust mass according to your needs -->
    <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001"/> <!-- Adjust inertia tensor if necessary -->
  </inertial>
    <visual>
      <geometry>
        <mesh filename="../obj/supercube.obj" scale=".0021 .0021 .0021"/> <!-- Adjust filename if necessary -->
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="../obj/supercube.obj" scale=".0021 .0021 .0021"/> <!-- Adjust filename if necessary -->
      </geometry>
    </collision>
  </link>

  <!-- Link representing the heavier cube at a corner -->
  <link name="heavier_cube">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/> <!-- Adjust if necessary -->
      <mass value="0.1"/> <!-- 1.13  Increased mass: 10* base cube mass -->
      <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001"/> <!-- Adjusted inertia, 10* base inertia since inertia is proportional to mass -->
    </inertial>
    <visual>
      <!-- Define the appearance of the heavier cube -->
      <geometry>
        <mesh filename="../obj/cube.obj" scale=".0007 .0007 .0007"/> <!-- 1/3 of supercube size-->
      </geometry>
      <!-- <material name="black">  --><!-- Adjust material properties if needed -->
      <!--   <color rgba="0 0 0 1"/>-->
      <!-- </material>-->
    </visual>
    <collision>
      <!-- Collision geometry for the heavier cube -->
      <geometry>
        <mesh filename="../obj/cube.obj" scale=".0007 .0007 .0007"/> <!-- 1/3 of supercube size-->
      </geometry>
    </collision>
  </link>

  <!-- Joint connecting the heavier cube to the base link -->
  <joint name="heavier_cube_joint" type="fixed">
    <parent link="base_link"/>
    <child link="heavier_cube"/>
    <origin rpy="0 0 0" xyz="0 0 0"/> <!-- Adjust if necessary -->
  </joint>
</robot>
